<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body class="wrapper">
    <header>
        <div class="welcome">
            <h1><span>{{header}}</span></h1>
        </div>
        <nav>
            <div class="topnav">
                <a href="main">Главная</a>
                <a href="form">Добавить пользователя</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="message">
            <p class="msg_text">{{data}}</p>
        </div>
    </main>
</body>
</html>